//--------------------------------------------------
// topbar
//--------------------------------------------------
.banner-background {
  background-image: url('~@/assets/images/banner-background.png');
  background-size: cover;
  padding: rem-calc(24 205);
  gap: rem-calc(12);
  width: 100%;
  z-index: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  @include breakpoint($small){ padding: rem-calc(17 20 16 20); }
}

.banner {
  gap: rem-calc(24);
  max-width: rem-calc(1057);
  justify-content: center;

  // display: flex;
  // align-items: center;
  align-self: center;
  flex-direction: row;

  &__title {
    p,
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__alert {
    padding-right: rem-calc(20);
  }

  &__text {
    height: rem-calc(17);

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: rem-calc(30);
    line-height: rem-calc(32);  /* identical to box height */

    color: #FFFFFF;
    }

  &__content{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: rem-calc(18);
    line-height: rem-calc(22);

    color: #FFFFFF;
    p {
      line-height: rem-calc(27);
    }
  }
}


.banner {
  .banner__content>p>a {
    &:link, &:visited {
      color: #fff;
    }
  }

  .wcmc-ct-modal-launcher {
    display: inline;
    border: none;
    background: none;
    font-weight: bold;
    color: #ffffff;
    font-size: inherit;
    padding: 0;
    cursor: pointer;
    font-family: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  .wcmc-ct-modal-panel {
    color: initial;

    &--size-to-page {
      height: calc(95vh - 80px);

      @include breakpoint($medium) {
        height: calc(95vh - 120px);
      }
    }
  }

  .wcmc-ct-modal-wrapper__content {
    // avoid competing with the navbar, since we belong to the banner with a lower
    // z-index and will lose.
    top: 30px !important;

    @include breakpoint($medium) {
      top: 40px !important;
    }
  }

  .wcmc-ct-modal-panel__header {
    background-color: #e9e9e9;

    h2 {
      margin: 0;

      @include breakpoint($small) {
        font-size: 1.25em;
      }
    }
  }

  .wcmc-ct-modal-panel__header-control--for-close {
    font-size: 1.75em;
    border: none;
    background: none;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    cursor: pointer;

    &:hover {
      color: #888;
    }
  }

  .wcmc-ct-modal-panel__footer {
    display: none;
  }
}

.faqs {
  a:link, a:visited {
    color: $theme-blue;
  }
}

.faq-table {
  border-spacing: 0;

  thead tr, tbody tr:nth-child(2n) {
    background-color: #e9e9e9;
  }

  th, td {
    padding: 1em;
  }

  // First column
  thead tr th:first-child {
    text-align: left;
  }

  // All other columns
  thead tr td:nth-child(n+2) {
    text-align: center;
  }

  // First column
  tbody tr td:first-child {
    text-align: left;
    column-width: auto;
  }

  // All other columns
  tbody tr td:nth-child(n+2) {
    text-align: center;
    color: #a70f0f;
    text-transform: uppercase;
    font-weight: bold;

    @include breakpoint($medium) {
      min-width: 18em;
    }

    a:link, a:visited {
      color: #0c9522;
      text-decoration: 2px underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
