.home {

  &__hero-image {
    background-size: cover;
  }

    &__header {
      @extend .section-padding;
      background-color: rgba($black, 0.4);
      color: $white;

      @include breakpoint($large) {
        padding: $section-padding-top-medium 0 $section-padding-bottom-medium 0;
      }
    }

      &__title {
        margin: 0 auto rem-calc(50) auto;
        width: rem-calc(180);

        display: block;
      }

      &__description-paragraph {
        text-align: left;
        font-weight: $light;

        &:first-child {
          font-size: rem-calc(32);
          font-weight: $normal;
        }
      }

  &__main {
    flex-wrap: wrap;

    @include breakpoint($medium) {
      flex-wrap: nowrap;
    }
  }
}