.site-link {
  color: $white;
  margin: $gutter-large;
  width: rem-calc(320); height: rem-calc(240);

  &__title {
    font-size: rem-calc(40);
    text-align: center;
    height: rem-calc(100);
  }

  &__logo {
    margin: 0 auto;
    width: 60%;
    height: rem-calc(80);

    display: block;
  }

  &__description {
    margin-top: rem-calc(24);
  }

    &__text-link {
      color: inherit;
    }
}