//--------------------------------------------------
// media queries 
//--------------------------------------------------
//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin breakpoint($breakpoint) {
  @media screen and (min-width: rem_calc($breakpoint + 1px)) {
    @content;
  } 
}

@mixin breakpoint-down($breakpoint) {
  @media screen and (max-width: rem_calc($breakpoint)) {
    @content;
  } 
}

@mixin between($breakpoint_1, $breakpoint_2) {
  @media screen and (max-width: rem_calc($breakpoint_2)) and (min-width: rem_calc($breakpoint_1 + 1px)) {
    @content;
  } 
}

//--------------------------------------------------
// helper classes
//--------------------------------------------------
.breakpoint-small-up {
  display: none;
  @include breakpoint($small) { display: block; }
}

.breakpoint-medium-up {
  display: none;
  @include breakpoint($medium) { display: block; }
}

.breakpoint-small-down {
  display: block;
  @include breakpoint($small) { display: none; }
}

.breakpoint-medium-down {
  display: block;
  @include breakpoint($medium) { display: none; }
}